doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Super sprinter 3000
    link(rel='stylesheet', href='css/style.css')
body
    main
        h1(class='main-header') Super Sprinter 3000
        section(class='user_stories')
            h2(class='visually-hidden') User stories
            button(id='add-story-btn') Add user story
            table(class='user_stories__table')
                tr
                    th(class='user_stories__id') Id
                    th(class='user_stories__title') Title
                    th(class='user_stories__story') Story
                    th(class='user_stories__acceptance') Acceptance criteria
                    th(class='user_stories__business-value') Business value
                    th(class='user_stories__estimation') Estimation
                    th(class='user_stories__status') Status
                
                include ./tableRow.pug
        section(class='add-story-popup popup')
            h2(class='popup__header') Add User Story
            form(class='popup__form')
                label(for='new-title') Story Title:
                input(id='new-title' name='title' type='text' minlength='5' required)
                label(for='new-user-story') User Story:
                textarea(id='new-user-story' name='user_story' type='text' required)
                label(for='new-acceptance-criteria') Acceptance Criteria:
                textarea(id='new-acceptance-criteria' name='acceptance_criteria' type='text' required)
                label(for='new-business-value') Business value:
                input(id='new-business-value' name='business_value' type='number' min='100' max='1500') 
                label(for='new-estimation') Estimation:
                input(id='new-estimation' name='estimation' type='number' min='0.5' max='40')
                div(class='popup__btn-wrapper')
                    button(class='popup__btn add-popup__btn--cancel' type='submit') Cancel
                    button(class='popup__btn add-popup__btn--submit' type='submit') Add new User Story
        section(class='edit-story-popup popup')
            h2(class='popup__header') Edit User Story
            form(class='popup__form')
                label(for='changed-title') Story Title:
                input(id='changed-title' name='title' type='text' minlength='5' required)
                label(for='changed-user-story') User Story:
                textarea(id='changed-user-story' name='user_story' type='text' required)
                label(for='changed-acceptance-criteria') Acceptance Criteria:
                textarea(id='changed-acceptance-criteria' name='acceptance_criteria' type='text' required)
                label(for='changed-business-value') Business value:
                input(id='changed-business-value' name='business_value' type='number' min='100' max='1500' step='100') 
                label(for='changed-estimation') Estimation:
                input(id='changed-estimation' name='estimation' type='number' min='0.5' max='40' step='0.5')
                label(for='changed-status') Status:
                select(id='changed-status' name='status')
                    <option value="planning">planning</option>
                    <option value="todo">todo</option>
                    <option value="in_progress">in progress</option>
                    <option value="review">review</option>
                    <option value="done">done</option>
                div(class='popup__btn-wrapper')
                    button(class='popup__btn edit-popup__btn--cancel' type='submit') Cancel
                    button(class='popup__btn edit-popup__btn--submit' type='submit') Edit User Story
    script(src='js/index.js' type='module')